.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
  margin: 3em;
  font-size: 1.2em;


  .logo-container{
    
    .logo{
      padding: 1em;
    }
  }
  .options {
    width: 60%;
    padding: 3em;

    .option {
      color: black;
      padding: 2em;
      font-weight: 700;
      text-decoration: none;
    }

    
    a:hover{
      color: white;
      background-color: #FA7762;
      font-weight: 800;
      cursor: pointer;
    }
  }
}