.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #182534;
  padding: 0.5em;
  // margin-bottom: 1em;

  .logo-container {
    width: 10%;
    .logo {
      padding-top: 0.5em;
    }
  }
  .options {
    // width: 50%;
    // padding: 2em;
    color: white;
    display: flex;
    justify-content: space-evenly;

    .option {
      color: white;
      padding: 1em;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      border-top: solid 2px #fa7762;
      border-bottom: solid 2px #fa7762;
    }

    div:hover {
      border-top: solid 2px #fa7762;
      border-bottom: solid 2px #fa7762;
    }
  }

  .top-right-menu {
    // background-color: #3A96DD;
    // width: 10%;
    // text-decoration: none;
    // display: flex;
    // flex-direction: column;
    // height: 3em;

    .option-top-right {
      margin: 0 auto;
      text-decoration: none;
      color: white;
      font-size: 0.8em;
      cursor: pointer;

      div:hover {
        border-bottom: solid 1px #fa7762;
      }
    }
  }
}
