.containerExaminations{
    display: flex;
    flex-direction: column;

    .filter{
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .examinations{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}



